img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
}

.no-rounded-card {
  border-radius: 0 !important; /* !important を追加してBootstrapのスタイルを上書きする */
}

.card{
    width: 20rem;
    height: 10rem;
    text-align: center;
}

.example li {
    display:inline;
    font-size: 20px;
}

.example{
    text-align: center;
    margin-top: 5px;
}

.pagination{
    text-align: center;
}